<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart added</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3E1wPGZF5_M8ydObm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="calender/cal.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="{{ asset("assets/css/styles2.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
</head>

<body>
{% include 'navbar.html.twig' %}

<main>
    <div class="bg">

        <section id="cart">
            <h1 class="section__title section__title--intro animate__animated animate__fadeInLeft">
                <strong>Cart</strong>
            </h1>
        </section>
        <div class="category-block2">
            <div class="text-container sectionTitle">
                <p>Here is an overview of your reservation, you can edit it, choose a date and comfirm!</p>
            </div>
            <div id="flight-datepicker">
                <div><label>Depart on</label><input class="input-sm form-control" type="date" id="start-date" name="start" placeholder="Select depart date" data-date-format="DD, MM d" /></div>
                <div><label>Return on</label><input class="input-sm form-control" type="date" id="end-date" name="end" placeholder="Select return date" data-date-format="DD, MM d" /><span class="date-text date-return"></span></div>
            </div>
            <button class="login--btn btn largebtn">NEXT</button>
        </div>
        <div class="category-block2">
            <div class="text-container">
                <h3 class="section-title sectionTitle">You chose to stay :</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat similique recusandae eligendi. Fuga minima vitae atque repudiandae molestias nostrum nam mollitia maxime autem, recusandae a facere, ipsam voluptatum necessitatibus laborum!
                </p>
            </div>
            <div class="p-cart-container">

                {% for card in accommodationCards %}
                    <div class="card">
                        <img class="img-card" src="{{ asset('img/hotels/leRoyal.jpg'  ) }}" width="100%" height="100%" alt="Card image">
                        <div class="textBox">
                            <h3>{{ card.name }}</h3>
                            <p>{{ card.description }}</p>
                            <button class="login--btn btn">More</button>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>


        <div class="category-block">
            <h3 class="section-title sectionTitle">You chose to visit :</h3>
            <div class="scrollable">

                {% for card in activityCards %}
                    <div class="card">
                        <img class="img-card" src="{{ asset('img/hotels/leRoyal.jpg'  ) }}" width="100%" height="100%" alt="Card image">
                        <div class="textBox">
                            <h3>{{ card.name }}</h3>
                            <p>{{ card.description }}</p>
                            <button class="login--btn btn">More</button>
                        </div>
                    </div>
                {% endfor %}
                <button class="scroll-button left-button">&lt;</button>
                <button class="scroll-button right-button">&gt;</button>
            </div>
        </div>


        <div class="category-block">
            <h3 class="section-title sectionTitle">You chose to taste:</h3>

            <div class="scrollable">

                {% for card in foodCards %}
                    <div class="card">
                        <img class="img-card" src="{{ asset('img/hotels/leRoyal.jpg'  ) }}" width="100%" height="100%" alt="Card image">
                        <div class="textBox">
                            <h3>{{ card.name }}</h3>
                            <p>{{ card.description }}</p>
                            <button class="login--btn btn">More</button>
                        </div>
                    </div>
                {% endfor %}
                <button class="scroll-button left-button">&lt;</button>
                <button class="scroll-button right-button">&gt;</button>
            </div>
        </div>
    </div>
</main>

<footer>
    <!-- Your website footer here -->
</footer>

<!-- Add any necessary JavaScript here -->
<script src="cart.js"></script>
</body>


</html>