<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="{{ asset("assets/css/styles2.css") }}" />
    <title>Tuniscape</title>
</head>
<body>
{% if error %}
<div class="popup">
    <h3>{{ error.messageKey|trans(error.messageData, 'security') }}</h3>
    <button class="popup--btn explore--btn">OK</button>
</div>
{% endif %}
<section class="login--page">

    <div class="login--container" >

        <div class="login--img">
            <img src="{{ asset('assets/img/login1.jpg') }}" alt="" />
        </div>
        <div class="form-container">
            <p class="title">Login</p>
            <div class="login-box">
                <form id="login-form" method="post">
                    <div class="user-box">
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername"/>
                        <label for="inputUsername">Username</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" id="inputPassword" required />
                        <label for="inputPassword">Password</label>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <a href="#" id="submit-form">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                    </a>
                </form>

                <div id="login-function">
                    <div>
                        <p>
                            Forgot your password?
                            <a href="{{ path('app_forgot_password') }}" class="a2">Reset password!</a>
                        </p>
                    </div>
                    <div>
                        <p>
                            Don't have an account?
                            <a href="{{ path('app_register') }}" class="a2">Sign up!</a>
                        </p>

                    </div>



                </div>
            </div>

            
        </div>
    </div>
</section>

<script
        src="https://kit.fontawesome.com/f0a0962bc1.js"
        crossorigin="anonymous"
></script>

<script src="{{ asset("assets/js/login.js") }}"></script>
</body>
</html>