<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}" />
    <title>Tuniscape</title>
</head>
<body>
{% include "navbar.html.twig" %}
<section class="intro" id="home">
    <h1
            class="section__title section__title--intro animate__animated animate__fadeInLeft"
    >
        <strong>TUNISIA</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">
        A land of white sands and ancient stories
    </p>
    <a href="{{ path('app_explore') }}">
    <button class="explore--btn exploreButton animate__animated animate__fadeInUp">
        Explore Now
    </button>
    </a>
</section>
<section class="authentic-experiences" id="authentic-experiences">
    <h2 class="section--title">Customized Holidays and Authentic Tunisian Experiences</h2>
    <p class="section__subtitle--authentic-experiences">
        Discover Tunisia through unique, tailored experiences that showcase the best of its culture, history, and natural beauty.
    </p>
    <div class="experiences">
        <div class="experience__item">
            <img src="{{ asset('assets/img/parallax1.jpg') }}" alt="Experience 1" class="experience__img" />
            <div class="experience__text">
            <h3 class="experience__title">
                <i class="fa-solid fa-people-group display_block"></i>
                Cultural Immersion
            </h3>
            <p class="experience__description">
                Experience the rich history and vibrant culture of Tunisia as you explore ancient ruins, dine on traditional cuisine, and engage with local artisans.
            </p>
            </div>
        </div>
        <div class="experience__item">
            <img src="{{ asset('assets/img/experience1.jpg') }}" alt="Experience 2" class="experience__img" />
            <div class="experience__text">
            <h3 class="experience__title">
                <i class="fa-solid fa-compass display_block"></i>
                Adventure Travel
            </h3>
            <p class="experience__description">
                Dive into adventure as you trek through the Sahara Desert, explore mysterious caves, or embark on a thrilling off-road journey across the diverse landscapes of Tunisia.
            </p>
            </div>
        </div>
        <div class="experience__item">
            <img src="{{ asset('assets/img/hotels/leRoyal.jpg') }}" alt="Experience 3" class="experience__img" />
            <div class="experience__text">
            <h3 class="experience__title">
                <i class="fa-solid fa-gem display_block"></i>
                Luxury Retreats
            </h3>
            <p class="experience__description">
                Indulge in a world of luxury as you unwind at exclusive resorts, rejuvenate in serene spas, and savor exquisite gourmet experiences in Tunisia's most idyllic settings.
            </p>
            </div>
        </div>
    </div>
    <a href="{{ path('app_explore') }}">
        <button class="explore--btn exploreButton animate__animated animate__fadeInUp">
            DIVE IN
        </button>
    </a>
</section>
<!-- Parallax-->
<section class="parallax--container">
    <div class="title">
        <h3>Some beautiful places in</h3>
        <h1>TUNISIA</h1>
    </div>

    <div class="parallex parallax-one">
        <h2>SIDI BOU SAID</h2>
    </div>

    <div class="block">
        <p>
            Discover the mesmerizing beauty of Sidi Bou Said, a picturesque village perched atop a cliff overlooking the Mediterranean Sea. Wander through its charming cobbled streets, admire the white and blue architecture, and savor the delightful aroma of jasmine flowers. Experience the vibrant local culture, visit art galleries, and indulge in mouthwatering Tunisian cuisine at cozy cafes and restaurants.
        </p>
    </div>

    <div class="parallex parallax-two">
        <h2>TATAOUINE</h2>
    </div>

    <div class="block">
        <p>
            Journey to the enchanting Tataouine, an ancient desert town with a rich history and a landscape that seems out of this world. Explore the unique Berber villages, marvel at the Ksours (traditional fortified granaries), and immerse yourself in the local culture. This stunning region also served as a filming location for the iconic Star Wars movies, adding a touch of magic to your adventure.
        </p>
    </div>

    <div class="parallex parallax-three">
        <h2>AMPHITHEATER OF EL JEM</h2>
    </div>

    <div class="block">
        <p>
            Step back in time as you visit the magnificent Amphitheater of El Jem, one of the largest and best-preserved Roman amphitheaters in the world. This UNESCO World Heritage site is a testament to the grandeur and architectural prowess of the Roman Empire. Explore the ancient ruins, learn about its fascinating history, and imagine the roar of the crowds as gladiators once battled within its walls.
        </p>
    </div>
</section>


<!-- Our Services-->
<section class="our-services" id="services">
    <h2 class="section--title">The Service You Deserve</h2>
    <p class="section__subtitle--service">
        Explore the hidden treasures of Tunisia by personalizing your vacation.
    </p>
    <div class="services">
        <div class="service__item service__description">
            <i class="fa-solid fa-landmark" style="margin-bottom: 5px"></i>
            <p>
                Discover Tunisia differently with a selection of exclusive and exciting local activities. Embark on an adventure exploring the country's picturesque landscapes, get your adrenaline pumping by trying jet-skiing on the paradise beaches, or enjoy an authentic experience on a camel ride.
            </p>
        </div>

        <a href="#" class="service__item">
            <img src={{ asset('assets/img/service1.jpg')}} alt="" class="service__img" />
        </a>

        <div class="service__item service__description">
            <i class="fa-solid fa-utensils"></i>
            <p>
                Tuniscape offers you a unique gastronomic experience at the heart of Tunisia. Immerse yourself in Tunisian culture by savoring local delicacies for an unforgettable culinary journey.
            </p>
        </div>

        <a href="#" class="service__item">
            <img src={{ asset('assets/img/service3.jpg') }} alt="" class="service__img" />
        </a>

        <div class="service__item service__description">
            <i class="fa-solid fa-star" ></i>
            <p>
                Explore Tunisia with Tuniscape and choose from our carefully selected accommodations. Stay in a welcoming boutique hotel, experience Tunisian culture in a traditional guesthouse, or enjoy a luxury villa for an exclusive experience.
            </p>
        </div>

        <a href="#" class="service__item">
            <img src="{{ asset('assets/img/service4.jpeg') }}" alt="" class="service__img" />
        </a>
    </div>
</section>

<!-- weather -->
<marquee id="marquee" behavior="scroll" direction="left" scrollamount="10">
    Live Weather Update: Sunny skies and 70째F in Los Angeles, CA | Partly
    cloudy and 60째F in New York, NY | Rainy and 55째F in Seattle, WA | Clear
    skies and 80째F in Miami, FL
</marquee>

{% include "footer.html.twig" %}
<a href="#home" class="comeback--btn--anchor"
><button class="explore--btn comeback--btn">
        <i class="fa-solid fa-arrow-up"></i></button
    ></a>
<!--Content ends-->
<script async defer src="{{ asset('assets/js/Weather.js') }}"></script>
</body>
</html>
