{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <h1>Reset Password</h1>
    <p>Enter a new password for your account.</p>

    {{ form_start(resetPasswordForm) }}
    {{ form_row(resetPasswordForm.plainPassword.first) }}
    {{ form_row(resetPasswordForm.plainPassword.second) }}
    {{ form_row(resetPasswordForm.submit) }}
    {{ form_end(resetPasswordForm) }}
{% endblock %}