<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/details.css') }}" />
    <style>
        body {
            background-color: #5bc0f8;
        }
    </style>
</head>
<body>
{% include "navbar.html.twig" %}
<section id="banner" class="banner" style="background-image: url('{{ asset(folderName ~ image) }}')">
    <h1 class="banner--title">
        {{ name }}
        {% if region %}
            <p>{{ region }}</p>
        {% endif %}
    </h1>
    <a href="#description" class="explore--btn learn--more">Learn More</a>
</section>

<section id="description" class="description--container">
    <p>{{ description }}</p>
</section>

<a href="{{ path('cart_add',{'id':id,'type':type }) }}"><button class="explore--btn">Add To Cart</button></a>

<script type="text/javascript" src="{{ asset('assets/js/details.js') }}"></script>
</body>
</html>
