<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuniscape Explore now</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/styles2.css' ) }}" >
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" >
</head>


<body>
{% include "navbar.html.twig" %}

<section class="intro">
            <h1 class="section__title section__title--intro animate__animated animate__fadeInLeft">
                <strong>{{ name|upper }}</strong>
            </h1>

        <div class="category-block2">
            <div class="text-container sectionTitle">
                <p>Please Choose Your {{ name }}</p>
            </div>
            {% if name != 'food' %}
                <div>
                {{ form(regionForm) }}
                </div>
            {% endif %}

        </div>
</section>

<section class="explore--content">

        <div class="category-block" id="to-live">

            <div class="card-container">
                {% set i = 1 %}
                {% for card in cards %}
                    <div class="card" data-location ="{% if card.region is defined%} {{ card.region }} {% endif %}">
                        <img class="img-card" src="{{ asset( folderName ~ card.image) }}" width="100%" height="100%" alt="Card image">
                        <div class="textBox">
                            <h3 class="card__title">{{ card.name }}</h3>
                            <a href="{{ path('app_details', {'id': card.id, 'type': name}) }}" class="login--btn btn">More</a>
                            <a class="login--btn btn add-btn" href="{{ path("cart_add", {'id': card.id, 'type':  name} ) }}">Add</a>
                            {% set i = i + 1 %}

                        </div>
                    </div>

                {% endfor %}
            </div>

            </div>
        <div style="text-align: center;">
            {% if(page != 1)  %}
                <a href="{{ path("app_catalog", {'entityName':name, 'page':page-1 })  }}" class="btn" style="margin-right: 20px"> Previous Page </a>
            {% endif %}
            {% if(page < max   )  %}
                <a href="{{ path("app_catalog", {'entityName':name, 'page':page+1 }) }}" class="btn"> Next Page </a>
            {% endif %}
            <h4 style="text-align: center">Page : {{ page }}</h4>
        </div>


</section>

<footer>
    {% include "footer.html.twig" %}
</footer>

</body>

</html>